<!DOCTYPE html>
<html lang="en" ng-app="winnouncer">
<head>
	<meta charset="UTF-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="components/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
	<div class="container">
		<header class="headBanner" >
			<div class="title">
				<h1 class="tText" >
					<span class="firstHalf"> Win</span><span class="secHalf">nounce</span>
				</h1>
				<h3 class="subTitle">
					Where all the relevant information you need.
				</h3>
			</div>

		</header>

	<section>
		<div class="content">
			<nav class="navbar navbar-default navMargin2">
			  <div class="container-fluid">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">About</a></li>
			        <li><a href="#">Profile</a></li>
			        <li><a href="#">Logout</a></li>
			      </ul>
			    </div>
			</nav>

			<div ng-controller="announcementController">
				<div class="col-md-5">
					<div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Go!</button>
				      </span>
				      <input type="text" class="form-control" placeholder="Search for...">
				    </div>
				</div>

				<main class="col-md-8 announceArt well" >
					
					<div class="form-group">
						<label for="newTitle" class="label label-success">Title</label>
						<input type="text" name="newTitle" class="form-control" placeholder="Title" ng-model="title">
						<br>
						<label for="newAnnouncement" class="label label-success">Announce !!</label>
						<textarea name="newAnnouncement" class="form-control" placeholder="Details.." ng-model="details"></textarea>
						<br>
						<div class="pull-right">
							<button class="btn btn-primary" ng-click="postAnnouncement()">
								<strong>Post Announcement</strong>
							</button>
						</div>
						<div class="pull-right marginSide">
							<select class="form-control" ng-model="group">
								<option style="display:none" value class>select a group</option>
								<option ng-repeat="group in groups" value="{{group.groupName}}">
									{{group.groupName}}
								</option>
							</select>
						</div>
						<div class="clear"></div>
					</div>

					<article class="announcements" ng-repeat="announcement in announcements">
						<cite class="pull-right">
							{{announcement.date}}
						</cite>
						<div class="clear"></div>
						<h2 class="announceTitle">
							{{announcement.title}}
						</h2>
						<h5 class="announceGroup">
							{{announcement.group}}
						</h5>
						<p class="announceContent">
							{{announcement.details}}
						</p>
					</article>
					
				</main>
				<aside class="col-md-4">
					<div class="well">
						<h1 class="navtitle">
							Groups
						</h1>
						<ul class="nav nav-pills nav-stacked">
							<li class="active">
							<a href="">All</a>
							</li>

							<li ng-repeat="group in groups">
								<a href="">{{group.groupName}}</a>
							</li>
							
						</ul>
						<button class="btn btn-success">Add Group</button>
					</dive>
				</aside>
			</div>
		</div>
	</section>
	</div>
	
	<script src="components/jquery/jquery.js"></script>
	<script src="components/bootstrap/bootstrap.js"></script>
	<script src="components/angular/angular.js"></script>
	<script src="components/angular/angular-route.js"></script>
	<script src="js/ngmodule/announcer.js"></script>
</body>
</html>